*.iml
.gradle
/.claude/*
/.idea/*
/.docs/*
/plans/*
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.claude
/.logs
/app/release
/docs
KEYSTORE
README.md
/agentskill
/claudekit-engineer-main
